.env
.vscode
.DS_store
node_modules

logs/
config/production/traefik/certs
/docker-compose.override.yml

# WordPress stuff
sites/community/*
!sites/community/wp-config.php
!sites/community/wp-content/

# Ignore everything in the "wp-content" except...
sites/community/wp-content/*
!sites/community/wp-content/themes/

# Ignore everything in the "themes", except...
sites/community/wp-content/themes/*
!sites/community/wp-content/themes/astra-bountiful
