.env
.vscode
.DS_store
node_modules

logs/
config/production/traefik/certs
/docker-compose.override.yml

# WordPress stuff
src/*
!src/tools/
!src/wp-config.php
!src/wp-content/

# Ignore everything in the "wp-content" except...
src/wp-content/*
!src/wp-content/themes/

# Ignore everything in the "themes", except...
src/wp-content/themes/*
!src/wp-content/themes/astra-bountiful
